:root {
    --bg: #0c011a;
    --white: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.cursor {
    cursor: pointer;
}

.p-10 {
    padding: 10px;
}

.border-raduis {
    border-radius: 10px;
}

.border {
    border: 1px solid var(--white);
}

body {
    background-color: var(--bg);
    color: var(--white);
    font-family: Roboto, 'sans-serif';
}

.contentElement {
    p {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 5px auto;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100dvh;

    .content {
        max-width: 80%;
        display: flex;

        .group {
            margin: 10px auto;
        }

        .card {
            input {
                &[file] {
                    padding: 5px;
                }

                width: 100%;
                outline: none;
                color: var(--white);
                background: transparent;
                border: 1px solid var(--white);
                padding: 10px;
                border-radius: 10px;
                display: block;
            }
        }
    }

}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;

    @media(max-width: 760px) {
        & {
            display: grid;
            grid-template-columns: 1fr;
        }
    }
}